@import url("https://fonts.googleapis.com/css?family=Barlow:300,400,500,600,700|Hind:400,500,600,700|Quattrocento:400,700");
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600&display=swap');
body {
    font-family: 'Hind', sans-serif;
    font-weight: normal;
    font-style: normal;
    color: #646464; }

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

img {
    max-width: 100%; }

a:focus,
input:focus,
textarea:focus,
button:focus {
    text-decoration: none;
    outline: none; }

a:focus,
a:hover {
    text-decoration: none; }

i,
span,
a {
    display: inline-block; }

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Quattrocento', serif;
    font-weight: 700;
    color: #121619;
    margin: 0px; }

h1 {
    font-size: 60px; }

h2 {
    font-size: 36px; }

h3 {
    font-size: 28px; }

h4 {
    font-size: 22px; }

h5 {
    font-size: 18px; }

h6 {
    font-size: 16px; }

ul, ol {
    margin: 0px;
    padding: 0px;
    list-style-type: none; }

p {
    font-size: 17px;
    font-weight: 400;
    line-height: 30px;
    color: #646464;
    margin: 0px; }
@media (max-width: 767px) {
    p {
        font-size: 16px; }
}
.top-nav a{
    color: whitesmoke;
    font-size: 1.2em;
}
.top-nav:hover{
    border-bottom: 2px solid #EB3656;
    transition: border-bottom-color 200ms ease-in-out;
}

.top-nav:hover a{
    color: #EB3656;
}
#mobNavbar ul{
    margin-left: auto;
}
.book-table-btn{
    background-color: #EB3656;
    border: none;
    padding: 0.7em;
    border-radius: 1.3em;
    padding:10px 3em;
}
.book-table-btn:hover{
    color: floralwhite;
    background-color: orange;
}
.header-section{
    background-image: url("../../images/hero.webp");
    min-height: 650px;
    background-attachment: fixed;
    background-position: center ;
    background-repeat: no-repeat;
    background-size: cover;
}
.header-text-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header-text{
    width: 30em;
    text-align: center;
    margin-top: 3em;
}
.enjoy{
    text-transform: uppercase;
    color: whitesmoke;
}
.enjoy, .header-title,.header-desc,.header-btn{
    color: floralwhite;
}
.header-title{
    font-family: "Playfair Display",sans-serif;
    font-size: 4.5em;
}
.header-btn{
    background-color: #EB3656;
    border-radius: 1.3em;
    border: 0;
    padding: 10px 3em;
}
.header-btn:hover{
    color: floralwhite;
    background: orange;
}
.home-menu{
    background-color: #FEE2B3;
    padding-top: 7em;
}
.selection-p{
    text-transform: uppercase;
}
.foods{
    color: #EB3656;
}
.popular-foods{
    color: #210011;
    font-family: "Playfair Display", sans-serif;
    font-size: 2em;
}
ul.menu-side-list{
    width: 85%;
}
.side-menu-item{
    color: #210011;
    font-size: 1.2em;
    padding: 1em 2em;
}
.side-menu-item:hover{
    background-color: floralwhite;
    padding: 1em 2em;
    border-radius: 1.5em;
    cursor: pointer;
}
.active-menu{
    background-color: floralwhite;
    padding: 1em 2em;
    border-radius: 1.5em;
    cursor: pointer;
}
